@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;

  padding: 0px;
  margin: 0px;
}
body {
  background-color: #999;
}
.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: 800px;
  height: 50px;
  margin: auto;
}
.input {
  padding-right: 50%;
  width: 50%;
  padding: 1rem;
}

.container {
  display: inline-block;
}

.hero-container {
  margin: auto;
  display: block;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 10px;
}

.main-container {
  width: 270px;
  height: 540px;
  position: relative;
  margin: 0 20px;
}

.poster-container {
  width: 230px;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 9999;
}

.poster {
  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(9, 168, 204, 0.166);
}

.ticket-container {
  background: rgba(15, 14, 14, 0.919);
  width: 270px;
  height: 460px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  box-shadow: 0 5px 20px 3px rgba(20, 128, 122, 0.6);
  opacity: 0;
}

.main-container:hover .ticket-container {
  opacity: 1;
  animation: bounceIn 0.6s linear;
}

.ticket__content {
  width: 100%;
  position: absolute;
  text-align: center;
}

.ticket__movie-title {
  color: rgb(79, 86, 86);
  text-transform: uppercase;
  margin-top: 5px;
}

.ticket__movie-description {
  color: #999;
  font-size: 0.9rem;
}

.ticket__rating {
  color: #69c982;
  font-size: 1.4rem;
  font-weight: bold;
}
